{% extends 'mailchimp-commerce/_layout' %}
{% import '_includes/forms' as forms %}
{% set title = 'List Settings'|t('mailchimp-commerce') %}
{% set fullPageForm = true %}

{% set isDisabled = settings.listId or not hasCountry %}

{% block content %}
	<input type="hidden" name="action" value="mailchimp-commerce/store/create">
	{% if not settings.listId %}
		{{ redirectInput('mailchimp-commerce/sync') }}
	{% endif %}

	{% if isDisabled %}
		{% if not hasCountry %}
			{% set u = cpUrl('commerce/store-settings/location') %}
			<p>{{ ('You need to [set your store\'s address](' ~ u ~ ') before you can sync!')|t('mailchimp-commerce')|md }}</p>
		{% else %}
			<p>{{ 'You have already synced your store. You can\'t change the list ID after a store has been synced.'|t('mailchimp-commerce') }}</p>
		{% endif %}
		<div style="opacity:0.5">
	{% endif %}

	{{ forms.selectField({
		label: 'Store List'|t('mailchimp-commerce'),
		name: 'listId',
		instructions: 'Select the Mailchimp list you want this store to be attached to.'|t('mailchimp-commerce'),
		options: lists,
		disabled: settings.listId != null,
		value: settings.listId,
	}) }}

	{% if isDisabled %}
		</div>
	{% endif %}

{% endblock %}
